@media (max-width: 1200px) {
    body {
        background-color: #f44366;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffffff;
        text-align: center;
    }


}